.wrapper {
  text-align: center;
}

nav {
  background-color: #808080;
}

nav a {
  background-color: #ffbf00;
  color: white;
  padding: 35px;
  display: block;
  float: left;
}

nav a:hover {
    background-color: #ee5f3c;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

h1 {
    color: rgb(2, 132, 130);
}
h2 {
    color: #ffd700;
}
.board {
	  display: inline-block;
    width: 50%;
    height: 50%;
    float: left;
    margin: 8%;
}

.card {
    display: inline-block;
    border: 1px black solid;
    width: 150px;
    height: 200px;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
    margin: 40px;
}

.name {
  color: #ff0000;
}

footer {
  background-color: #808080;
}
